name: test and deploy

# Run this workflow every time a new commit pushed to your repository
on: push

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  test-deploy:
    # Name the Job
    name: Lint, test, and deploy if master
    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Npm install
        run: npm ci
      - name: Test
        run: npm test 
      - name: Deploy
        if: github.ref == 'refs/heads/master'
        run: deploy.sh